@model BLL.Models.UserModel

@* Generated from Custom Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container";
    var dateTimePickerClass = "datetimepicker";
}
@{
    ViewData["Title"] = "Login";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
<div class="@containerDivClass">
    @if (TempData["Message"] is not null)
    {
    <p class="text-danger">
        @TempData["Message"]
    </p>
    }
    <form asp-action="Login" autocomplete="off">
	    @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* <input type="hidden" asp-for="Record.id" /> *@
        <div class="row mb-3">
            <label asp-for="username" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <input asp-for="Record.username" class="form-control" />
		        <span asp-validation-for="Record.username" class="text-danger"></span>
	        </div>
        </div>
        <div class="row mb-3">
            <label asp-for="password" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
	            <input asp-for="Record.password" class="form-control" />
		        <span asp-validation-for="Record.password" class="text-danger"></span>
	        </div>
        </div>
	    
@* Can be uncommented and used for many to many relationships. ManyToManyRecord may be replaced with the related entiy name in the controller and views. *@
        @*
        <div class="row mb-3">
            <label asp-for="ManyToManyRecordIds" class="col-2 col-form-label fw-bold"></label>
	        <div class="col-10">
		        <select multiple asp-for="ManyToManyRecordIds" class="form-select" asp-items="ViewBag.ManyToManyRecordIds"></select>
		        <span asp-validation-for="ManyToManyRecordIds" class="text-danger"></span>
	        </div>
        </div>
        *@

        <hr />
	    <div class="row mb-3">
		    <div class="offset-2 col-10">
			    <button type="submit" class="btn btn-primary">Login</button>
		    </div>
	    </div>
    </form>
</div>
}
